h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: .2em;
  }

h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: .2em;
    font-weight: 300;
  }
.box{
        border:60px solid white;
        margin: 40px auto;
        padding: 20px 30px 40px 30px;
        background-color: #FFFFFF;
        overflow: auto;
        width: 60%;
        border-radius: 4px;
        align-self: center;
}
.box div{
    font: inherit;
      padding: 0 20px;
      overflow: auto;
      opacity: 0.9;
      color: rgb(100, 39, 39); 
}
.box p{
     text-align: left;
     color: rgb(43, 28, 28); 
 }
 
 .hadeeth1{
    background-color: rgb(250, 248, 248)  ;
 }
 
 .hadeeth2{
    background-color: rgb(180, 172, 172)  ;
 }
 